doctype html
html
  head
    title Loans
    link(rel='stylesheet', href='stylesheets/style.css')
  nav
    ul
      li
        a(href='/books/all') Books
      li
        a(href='/patrons/all') Patrons
      li
        a(href='/loan/all') Loans
  body
    h1 Loans
    p
      a.button(href='/loan/new') Create New Loan
    p
      | Filters 
      a(href='/loan/all') All
      |  
      a(href='/loan/overdue_loans') Overdue
      |  
      a(href='/loan/checked_loans') Checked Out
    table
      thead
        tr
          th Book
          th Patron 
          th Loaned on
          th Return by 
          th Returned on
          th Action
      tbody
       each loan in loans
        tr
          td
            a(href='/books/details/'+ loan.book_id)= loan.books.title
          td
            a(href='/patrons/details'+ loan.patron_id)= loan.patrons.first_name + " " + loan.patrons.last_name
          td= loan.loaned_on
          td= loan.return_by
          td
          td
            a.button(href='/books/returned') Return Book
        
