doctype html
html
  head
    title Book
    link(rel='stylesheet', href='../stylesheets/style.css', type="text/css")
  nav
    ul
      li
        a(href='/books/all') Book
      li
        a(href='/patrons/all') Patron
      li
        a(href='/loans/all') Loan
  body
    h1 Book
    p
      a.button(href='/books/new') Create New Book
    p
      | Filters 
      a(href='/books/all') All
      |  
      a(href='/books/overdue') Overdue
      |  
      a(href='/books/checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each book in books
          tr
            td
              a(href='/books/details/'+book.id)= book.title
            |                 
            td= book.author
            |                 
            td= book.genre
            |                 
            td= book.first_published
        
