extends layout.pug
block content
  body
    h1 Checked Out Book
    p
      a.button(href='/books/new') Create New Book
    p
      | Filters 
      a(href='/books/all') All
      |  
      a(href='/books/overdue') Overdue
      |  
      a(href='/books/checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
       each loan in loans
        tr
          td
            a(href='/books/details/' + loan.book_id)= loan.Book.title
          td= loan.Book.author
          td= loan.Book.genre
          td= loan.Book.first_published
        
