doctype html
html
  head
    title Overdue Book
    link(rel='stylesheet', href='../stylesheets/style.css')
  nav
    ul
      li
        a(href='/books/all') Book
      li
        a(href='/patrons/all') Patron
      li
        a(href='/loans/all') Loan
  body
    h1 Overdue Book
    p
      a.button(href='/books/new') Create New Book
    p
      | Filters 
      a(href='/books/all') All
      |  
      a(href='/books/overdue') Overdue
      |  
      a(href='/books/checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
       each loan in loans
        tr
          td
            a(href='/books/details/' + loan.book_id)= loan.Book.title
          td= loan.Book.author
          td= loan.Book.genre
          td= loan.Book.first_published
        
